<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="PomodoroTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <userSettings>
  <PomodoroTimer.Properties.Settings>
   <setting name="PomodoroTimeInterval" serializeAs="String">
    <value>00:25:00</value>
   </setting>
   <setting name="PomodoroBreakTimeInterval" serializeAs="String">
    <value>00:05:00</value>
   </setting>
   <setting name="PomodoroSetBreakTimeInterval" serializeAs="String">
    <value>00:20:00</value>
   </setting>
  </PomodoroTimer.Properties.Settings>
 </userSettings>
</configuration>